@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  --font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  --font-weight: 400;
  --colorBgPrimary: #F3F3F6;
  --colorBgSecondary: #ffffff;
  --colorAccentPrimary: #2525D0;
  --colorAccentPrimaryHover: #2929A3;
  --colorAccentSecondary: #F8F8FC;
  --colorAccentSecondaryHover: #EAEAF6;
  --colorAccentTertiary: #5A328A;
  --colorFeedbackInfo: #EEF2FC;
  --colorFeedbackInfoAccent: #A8BDF0;
  --colorFeedbackError: #FDEDF2;
  --colorFeedbackErrorAccent: #ED5A8B;
  --colorFeedbackWarning: #F8FAD1;
  --colorFeedbackWarningAccent: #E9C534;
  --colorFeedbackSuccess: #BCF0D6;
  --colorFeedbackSuccessAccent: #16CA52;
  --colorContrastDark: #F4F4F6;
  --colorContrastLight: #26262C;
  --colorNeutral100: #383842;
  --colorNeutral200: #676779;
  --colorNeutral300: #9C9CAB;
  --colorNeutral400: #D8D8DE;
  --colorNeutral500: #E9E9EC;
  --fontTitleHero: 3rem;
  --fontSubTitle: 2rem;
  --fontTextLarge: 1.5rem;
  --fontTextMedium: 1.25rem;
  --fontText: 1rem;
  --fontLabel: 0.875rem;
  --fontSmallLabel: 0.75rem;

  --colorAccent: #AE51EC;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--colorBgSecondary);
  font-family: var(--font-family);
}

.btn-accent {
  display: flex;
  padding: 0.5rem 2rem;
  font-size: var(--fontTextMedium);
  font-weight: 500;
  background-color: var(--colorAccent);
  border: solid 2px var(--colorAccent);
  border-radius: 0.5rem;
}

.btn-outline {
  padding: 0.5rem 1rem;
  font-size: var(--fontTextMedium);
  font-weight: 500;
  border: solid 2px var(--colorAccent);
  border-radius: 0.5rem;
  background-color: transparent;
}

header{
  max-width: 90rem;
  padding: 2rem 9.75rem;
  margin: auto;
}

.hero-container {
  max-width: 90rem;
  margin: auto;
  margin-top: 4rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 2rem 9.75rem;
  gap: 1rem;
}

.hero-content{
  width: 100%;
  min-width: 22rem;
display: flex;
flex-direction: column;
}

.hero-content h1 {
  font-size: var(--fontTitleHero);
  color: var(--colorNeutral200);
}

.hero-content p {
  font-size: var(--fontTextLarge);
  color: var(--colorNeutral100);
}

.hero-content .hero-cta {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.introduction-container {
  width: 100%;
  margin-top: 7.5rem;
  padding: 5rem 9.75rem;
  background-color: var(--colorBgPrimary);
}

.introduction-content {
  max-width: 50rem;
  display: grid;
  justify-content: center;
  margin: auto;
}

.introduction-content h2 {
  text-align: center;
  font-size: var(--fontSubTitle);
  font-weight: 500;
  color: var(--colorContrastLight);
}

.introduction-content p {
  text-align: left;
  font-size: var(--fontTextMedium);
  color: var(--colorNeutral100);
}

.foundation-container {
  width: 100%;
  padding: 5rem 9.75rem;
  background-color: var(--colorBgPrimary);
}


.foundation-container h3 {
  max-width: 90rem;
  margin: auto;
  font-size: var(--fontSubTitle);
  color: var(--colorContrastLight);
}

.foundation-container p {
  max-width: 90rem;
  margin: auto;
  font-size: var(--fontTextLarge);
  color: var(--colorNeutral200);
}

.foundation-content{
  max-width: 90rem;
  margin: auto;
  margin-top: 5rem;
  display: flex;
}

.foundation-grid-cards{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.foundation-grid-cards .foundation-card {
  width: 20rem;
}

.foundation-grid-cards .foundation-card p{
  font-size: var(--fontText);
}

.foundation-card .foundation-card-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.foundation-card .foundation-card-header h3 {
  font-size: var(--fontTitleHero);
  color: var(--colorNeutral200);
}

.foundation-card .foundation-card-header svg {
  width: 3.75rem;
  height: 3.75rem;
  color: var(--colorAccentTertiary);
}

.foundation-content .foundation-description h3{
  font-size: var(--fontSubTitle);
  color: var(--colorContrastLight);
}

.foundation-content .foundation-description p{
  margin-top: 0.5rem;
  font-size: var(--fontText);
}

.components-section{
  max-width: 90rem;
  padding: 5rem 9.75rem;
  margin: auto;
}

.components-section h3{
  text-align: center;
  color: var(--colorContrastLight);
  font-size: var(--fontSubTitle);
}

.components-section p{
  text-align: center;
  color: var(--colorNeutral200);
  font-size: var(--fontTextLarge);
}

.components-grid-example{
  margin-top: 2.5rem;
  display: flex;
}

.components-grid-example .card-component{
  width: 12rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colorBgPrimary);
  border: solid 2px var(--colorNeutral400);
  border-radius: 0.5rem;
}

.components-section .btn-accent{
  margin: auto;
  margin-top: 1.5rem;
}

/* ######################################### Show components page */

.wiki-dsa{
  max-width: 90rem;
  padding: 2rem 9.75rem;
  margin: auto;
  display: flex;
  gap: 4rem;
}

.wiki-dsa .components-bar{
  min-width: 10rem;
  background-color: var(--colorBgPrimary);
  padding: 1rem;
  border-radius: 0.5rem;
}

.wiki-dsa .components-bar details summary{
  font-size: var(--fontTextMedium);
  font-weight: var(--font-weight);
  color: var(--colorAccentPrimary);
  cursor: pointer;
}

.wiki-dsa .components-bar details ul li{
  margin-top: 0.5rem;
  font-size: var(--colorNeutral200);
  list-style: none;
  cursor: pointer;
}

.wiki-dsa .components-bar details ul li:hover{
  color: var(--colorAccentHover);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.wiki-dsa .components-container{
  width: 100%;
  height: 100%;
}

.wiki-dsa .components-container h1{
  font-size: var(--fontSubTitle);
  color: var(--colorNeutral200);
}

.wiki-dsa .components-container p{
  font-size: var(--fontTextLarge);
  color: var(--colorNeutral200);
}

.wiki-dsa .components-container .get-code{
  background-color: blue;
  display: flex;
  justify-content: end;
  margin: auto;
  padding: 1rem;
  border-radius: 999px;
}

.wiki-dsa .components-container .output-component{
  width: 80%;
  min-height: 20rem;
  height: 100%;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px var(--colorNeutral200);
  border-radius: 1rem;
}




