.BtnIcnSecDsa{
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        border: solid 2px var(--colorAccentSecondary);
        border-radius: 999px;
        font-size: var(--fontTextAccent);
        font-weight:  500;
        background-color: var(--colorAccentSecondary);
        color: var(--colorContrastLight);
    
        &:hover{
            background-color: var(--colorAccentSecondaryHover);
        }
    
        &:focus{
            background-color: var(--colorAccentSecondary);
        }
    }